<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploading</title>
  </head>

  <body>
    <hr />
    <div>
      <form action="/profs" method="POST" enctype="multipart/form-data" role="form">
        <div>
          <label>Upload Image</label>
          <input type="file" id="file" name="file" value="" required/>
        </div>
        <div>
          <label>Name</label>
          <input id="name" name="name" value="" required />
        </div>
        <div>
          <label >Domain</label>
          <input  id="domain" name="domain" value="" required />
        </div>
        <div>
          <label >College</label>
          <input  id="college" name="college" value="" required />
        </div>
        <div>
          <label>Breif</label>
          <input  id="breif" name="breif" value="" required />
        </div>
        <div>
          <label >Details</label>
          <input  id="details" name="details" value="" required />
        </div>
        <!-- <div>
          <label >link</label>
          <input  id="link" name="link" value="" required />
        </div> -->
        <div>
          <label >researchgate</label>
          <input  id="researchgate" name="researchgate" value="" required />
        </div>
        <div>
          <label >email_id</label>
          <input  id="email_id" name="email_id" value="" required />
        </div>
        <input type="submit" name="submit" />
        </div>
      </form>
    </div>

    <hr/>
    </div>
  </body>
</html>
