.feed {
  width: 100%;
  min-height: 100vh;

  position: relative;
  top: -1rem;
}
.login1Header p {
  color: rgb(100, 83, 133);
  text-align: center;
  font-size: 4rem;
  z-index: 100;
  position: relative;
  font-weight: 600;
  top: -1rem;
  font-family: "Rampart One", cursive;
}
.feed__status {
  width: 90%;
  margin: 1rem auto;
}

.feed__status form {
  display: flex;
  align-items: center;
}

.feed__status form * {
  margin: 0 0.5rem;
}

.feed__control {
  text-align: center;
}

.new-post__preview-image {
  width: 15rem;
  height: 7rem;
}

@media (min-width: 768px) {
  .feed__status {
    width: 30rem;
  }
}

@media (max-width: 520px) {
  .login1Header span {
    font-size: 1.3rem;
  }
  .login1Header p {
    font-size: 1.8rem;
    position: relative;
    top: 2.14rem;
  }
}
