.single-post {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  color: #3b0062;
}
.single-post p {
  font-size: 1.3rem;
  color: black;
  text-align: left;
}
.single-post h2 {
  font-size: 1rem;
  color: #464646;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 2px solid #464646;
}

.single-post__image {
  height: 20rem;
  width: 20rem;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .single-post {
    width: 90%;
  }
}
@media (max-width: 530px) {
  .single-post h1 {
    font-size: 2rem;
  }
  .single-post h2 {
    font-size: 0.7rem;
  }
  .single-post p {
    font-size: 1rem;
  }
}
